<h2>日々の成長を記録していこう</h2>

<div class="introduction">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "yuuhina.png", alt: "yuuhina logo", size: "200x150", class: "float-left" %>
    </div>
    <div class="col-5 col-md-3">
      <ul class="status">
        <li><span class="badge badge-info">ちから</span></li>
        <li><span class="badge badge-info">たいりょく</span></li>
        <li><span class="badge badge-info">きよう</span></li>
        <li><span class="badge badge-info">かしこさ</span></li>
        <li><span class="badge badge-success">とくしゅ</span></li>
      </ul>
    </div>
    <div class="col-7 col-md-6">
      <%= render 'shared/progress_bar', state: @rand_state %>
    </div>
  </div>

  <h3>Avartusは自分の分身を使って、強く育つことを目的としたアプリです。</h3>
  <p>使用方法・・・「マイページ」で、その日の行動に対するパラメータを割り振り、内容と共に日々の行動を記録していきます。「成長記録」では、<br>これまで自分がどういった成長を遂げたのか
  振り返ることができます。自分に合ったキャラクターを作ってみましょう。</p>
</div>
