<h1>日々の成長記録を付けていく</h1>
<div class="container">
  <%= image_tag "yaruo", alt: "yaruo logo", :size => "200x150", :class => "st" %>
  <ul class="st">
    <li>ちから</li>
    <li>すばやさ</li>
    <li>かしこさ</li>
    <li>ぎのう</li>
    <li>みりょく</li>
  </ul>

</div>
<br>
<br>
<br>
<br>
<br>
<%= link_to "ホーム画面へ戻る", root_path %>