現在のユーザー数：<%= User.all.count %> / 
現在のステータス数：<%= State.all.count %>
<div class="jumbotron">
<p>すていたすを使って成長の記録を付けていこう！</p>
<%= link_to "新規作成", regist_path, :class => "btn btn-primary" %>
</div>
<%= link_to "すていたすって何？", about_path, :class => 'about' %>