<strong>プレイヤー：<%= @user.name %></strong>

<div class="container">
  <ul>
    <li>lv:  <%= @state.lv %></li>
    <li>str:  <%= @state.str %></li>
    <li>int:  <%= @state.int %></li>
  </ul>
</div>