<div class="card text-center border-info">
  <div class="card-header">
    <h4><%= @user.name %>のこれまでの活動</h4>
  </div>
  <ul class="list-group">
    <% @records.each do |r|  %>
      <li class="list-group-item">
        <%# lメソッド参考: https://qiita.com/jnchito/items/831654253fb8a958ec25  %>
        <h5 class="card-title"><%= l r.created_at %></h5>
        <p class="card-text"><%= simple_format(h(r.content)) %></p>
      </li>
    <% end %>
  </ul>
</div>

<%= paginate @records %>