@import "bootstrap";

body {
  padding-top: 40px;
  font-family: fantasy, cursive, sans-serif;
}

#logo {
  font-size: 1.8em;
  color: #fff;
  letter-spacing: 3px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 5px 5px 3px #999;
}


footer {
  margin-top: 30px;
  padding: 5px;
  border-top: 1px solid teal;
  a {
    color: rgb(59, 52, 52);
    border: 1.5px ridge #152;
    border-radius: 5px;
    font-size: 15px;
    transition: all .3s ease 0s;
    &:hover {
      text-decoration: none;
      transform: scale(1.2);
    }
  }

}

/* home */
.jumbotron {
  background-image: image-url("home.jpg");
  background-size: cover;
  background-position: center 82%;
  text-align: center;
}

/* about */
.introduction {
  margin-top: 15px;
}

.status {
  display: inline-block;
  list-style: none;
  li {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
}

/* form */
.form-check-label {
  font-weight: bold;
  padding: 10px 0;
}

.form-control {
  width: 100%;
  margin-bottom: 15px;
}

/* show(user) */
.list-group-item {
  font-size: 20px;
}

.plus {
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

/* show(record) */
.grow-list {
  li {
    &:nth-child(odd){
      background-color: rgba(0, 195, 255, 0.123);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff)),
      -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff));
      -webkit-background-size: 5px 5px;
      background-size:         5px 5px;
    }
    &:nth-child(even) {
      background-color: rgba(217, 255, 0, 0.116);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff)),
      -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff));
      -webkit-background-size: 5px 5px;
      background-size:         5px 5px;
    }
  }
}